.navbar {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
}

.channel-list {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-right: #333 1px solid;
}

.channel-names, .logout
 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  margin-top: 5px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 300px;
}

.logout {
  width: 100px;
  height: 30px;
}

.channel-names
:hover,
.channel-names
:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.channel-names
:hover {
  transform: translateY(-1px);
}

.channel-names
:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.messages {
  flex: 2;
  padding: 20px;

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }

  .message {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }

  .no-messages {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
  }

  .message-input {
    display: flex;
    margin-top: 20px;

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      color: #333;
      width: 100%;
      margin-right: 10px;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      background-color: #007bff;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

}
